<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>124156559804-qai2d49u8imv0tk056s9gfokg9j0g6m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124156559804-qai2d49u8imv0tk056s9gfokg9j0g6m5</string>
	<key>API_KEY</key>
	<string>AIzaSyAYEE3ABCe3AsmJ0H7zCgSW2BteiNhcpp8</string>
	<key>GCM_SENDER_ID</key>
	<string>124156559804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seabjackson.PlanetTour</string>
	<key>PROJECT_ID</key>
	<string>planet-tour-d2b5f</string>
	<key>STORAGE_BUCKET</key>
	<string>planet-tour-d2b5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124156559804:ios:147c59f1fbdefcc4</string>
	<key>DATABASE_URL</key>
	<string>https://planet-tour-d2b5f.firebaseio.com</string>
</dict>
</plist>